html, body{
    font-family: sans-serif;
    margin: 0;
    background: white;
    background-size: cover;
}

a{
    text-decoration: none;
}

.header{
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    background: #34495e;
}

.logo{
    display: inline-block;
    padding-top: 18px;
    padding-left: 80px;
}

.gambar{
    width: 200px;
}

.list{
    list-style: none;
    float: right;
    padding-right: 30px;
}

.list li{
    display: inline-block;
}

.list li a{
    display: block;
    font-size: 13px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    padding: 12px 25px;
    transition: 0.3s;
}

.list li a:hover{
    background-color: #ff652a;
}

.section{
    padding: 40px 0;
}

.section h1{
    text-align: center;
    color: #333;
}

.btn {
    border: none;
    font-size: 14px;
    padding: 24px 47px;
    border-radius: 0;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    background: #34495e;
}

.btn:hover{
    background: #212121;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
    outline: none;
}

.contact-section h2{
    text-align: center;
    letter-spacing: 4px;
}

.contact-section {
    position: relative;
    padding: 120px 0;
    width: 50%;
    margin: 0 auto;
}

.contact-form {
    padding-top: 20px;
}

.contact-form input,
.contact-form textarea {
    font-size: 14px;
    color: #7d7d7d;
    border: none;
    border-bottom: 1px solid #b2b2b2;
    padding-bottom: 14px;
    margin-bottom: 20px;
}

.contact-form input:hover{
    
}

.contact-form input{
    width: 50%;
}

.contact-form textarea {
    width: 100%;
}

.contact-form textarea {
    height: 165px;
    margin-bottom: 38px;
}

.contact-msg::-webkit-input-placeholder {
    padding-top: 130px;
}

.border{
    width: 700px;
    height: 3px;
    background: #333;
    margin: 40px auto;
}

.footer-section{
    background: #34495e;
    padding: 19px 40px;
    position: relative;
}

.footer-social{
    text-align: right;
    margin-right: 30px;
    height: 40px;
    padding-top: 40px;
}

.footer-social a{
    margin-right: 50px;
}

.icon{
    width: 20px;
}

.footer-copyright{
    color: white;
    font-size: 11px;
    font-weight: 500;
    padding: 4px 0;
}