html, body{
    font-family: sans-serif;
    margin: 0;
    background: white;
    background-size: cover;
}

a{
    text-decoration: none;
}

.header{
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    background: #34495e;
}

.logo{
    display: inline-block;
    padding-top: 18px;
    padding-left: 80px;
}

.gambar{
    width: 200px;
}

.list{
    list-style: none;
    float: right;
    padding-right: 30px;
}

.list li{
    display: inline-block;
}

.list li a{
    display: block;
    font-size: 13px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    padding: 12px 25px;
    transition: 0.3s;
}

.list li a:hover{
    background-color: #ff652a;
}

.section{
    padding: 50px 15px;
    position: relative;
    height: 1000px;
}

.table, tr, th, td{
    width: 100%;
    margin: auto;
    border: 2px solid black;
    border-collapse: collapse;
    text-align: justify;
    font-size: 20px;
    table-layout: fixed;
    color: black;
    padding: 15px;
}

td{
    font-style: italic;

}

td:hover{
    background: white;
    transition: 0.4s;
}

th{
    background: #34495e;
    background-position-x: initial;
    color: #fff;
    text-align: center;
}

.footer-section{
    background: #34495e;
    padding: 19px 40px;
    position: relative;
}

.footer-social{
    text-align: right;
    margin-right: 30px;
    height: 40px;
    padding-top: 40px;
}

.footer-social a{
    margin-right: 50px;
}

.icon{
    width: 20px;
}

.footer-copyright{
    color: white;
    font-size: 11px;
    font-weight: 500;
    padding: 4px 0;
}